{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema de Compras e inventario</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'base/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">



    <!-- Custom styles for this page -->
    <link href="{% static 'base/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

    {#    estilos agregados css#}
    <link href="{% static 'base/css/style2.css' %}" rel="stylesheet">

        <!-- Custom styles for this template-->
    <link href="{% static 'base/css/sb-admin-2.css' %}" rel="stylesheet">

    {#    CARGA DE JQUERY PARA VENTANAS DE CONFIRMACION#}
    <link href="{% static 'base/vendor/jquery_confirm/jquery-confirm.min.css' %}" rel="stylesheet">

    {#    CALENDAR JQUERY#}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>

    <!-- BOOTSTRAP TABLE -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

{#    SELECT2#}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />


         <!-- para realizar la efecto scroll -->
     <script src="https://unpkg.com/scrollreveal"></script>
     <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

  <style>
    .scrolli{
   visibility:hidden;
   }
    </style>


</head>

<body id="page-top" class="fondo">



{% block side_bar %}
    <!-- Page Wrapper -->
    <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav fondo-barra sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center fondo-barra-inf justify-content-center" href="{% url 'bases:home' %}">
            <div class="sidebar-brand-icon">
                <img src="{% static 'base/img/machine.png' %}" alt="" class="machine">
            </div>
            <div class="sidebar-brand-text sombra-texto-2 text-dark">REFRI LAVADORAS</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'bases:home' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span class="sombra-texto-2 font-weight-bold text-white">Panel Principal</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading sombra-texto-2 font-weight-bold text-white">
            Opciones de Menú
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <div class="nav-link collapsed" href="#" data-toggle="collapse" data-target=""
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog "></i>
                <span class="sombra-texto-2 font-weight-bold text-white">Catalogos</span>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Catalogos de Inventario</h6>

                    {% if perms.inventario.view_categoria %}
                        <a class="collapse-item" id="tab-categorias" href="{% url 'inventario:categoria_list' %}">Categorias</a>
                    {% endif %}

                    {% if perms.inventario.view_subcategoria %}
                        <a class="collapse-item" id="tab-subcategorias" href="{% url 'inventario:subcategoria_list' %}">Sub-Categorias</a>
                    {% endif %}

                    {% if perms.inventario.view_marca %}
                        <a class="collapse-item" id="tab-marcas" href="{% url 'inventario:marca_list' %}">Marcas</a>
                    {% endif %}

                    {% if perms.inventario.view_unidaddemedida %}
                        <a class="collapse-item" id="tab-um" href="{% url 'inventario:um_list' %}">Unidades de Medida</a>
                    {% endif %}

                    {% if perms.inventario.view_producto %}
                        <a class="collapse-item" id="tab-productos" href="{% url 'inventario:producto_list' %}">Productos</a>
                    {% endif %}

                    <h6 class="collapse-header">Catalogos de compras</h6>
                    {#                    puede editar y ver proveedores#}
                    {% if perms.proveedores.view_proveedor %}
                        <a class="collapse-item" id="tab-proveedor" href="{% url 'proveedores:proveedor_list' %}">Proveedores</a>
                    {% endif %}

                    <h6 class="collapse-header">Catalogos de Facturacion</h6>
                    {#                    puede editar y ver proveedores#}
                    {% if perms.facturacion.view_cliente %}
                        <a class="collapse-item" id="tab-clientes" href="{% url 'facturacion:cliente_list' %}">Clientes</a>
                    {% endif %}

                </div>
            </div>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <div class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-truck"></i>
                <span class="sombra-texto-2 font-weight-bold text-white">Movimientos</span>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Movimientos financieros</h6>
                    <a class="collapse-item" id="tab-compras" href="{% url 'proveedores:compras_list' %}">Compras</a>
                    <a class="collapse-item" id="tab-facturas" href="{% url 'facturacion:factura_list' %}">Facturas</a>
                </div>
            </div>
        </li>


        <!-- Barra divisora -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- boton aumentar/disminuir tamaño barra ver. -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->
{% endblock side_bar %}





<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- CONTENIDO PRINCIPAL -->
    <div id="content">


        <!-- NAV BAR PRINCIPAL -->
        {% block top_bar %}
            <nav class="navbar navbar-expand navbar-light fondo-barra-lateral topbar static-top shadow">

                <ul class="navbar-nav d-flex align-items-center justify-content-center">
                    <small><p class="text-uppercase text-center text-dark font-weight-bolder"><i class="fab fa-buffer"></i> Sistema de Compra y Facturacion (SCF) version 1.0</p></small>
                </ul>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle cambiarColorAzulHov" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-dark text-uppercase font-weight-bolder sombra-texto">{{ user.username }}</span>
                            <img class="img-profile rounded-circle" src="{{ user.email }}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">

                            <a class="dropdown-item cambiarColorAzulHov" href="#" data-toggle="modal"
                               data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar Sesion
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        {% endblock top_bar %}



        {% block page_content %}

             <div class="fondo-2 siza">

             <div class="enjoy-css mr-auto ml-auto scrolli">Bienvenido !!!</div>
             <div class="enjoy-css-2 mr-auto ml-auto scrolli"><span class="text-uppercase">{{ user.username }}</span>, usa el panel izquierdo para navegar</div>
            </div>
            <!-- /.container-fluid -->
        {% endblock page_content %}


        {% block footer %}
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white ">
                    <div class="copyright text-center align-item-center">
                        <span class="font-weight-bolder">&copy;RefriLavadoras 2020 - Todos los derechos reservados</span>
                    </div>
            </footer>
            <!-- End of Footer -->


            </div>
            <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

        {% endblock footer %}


<!-- Scroll to Top Button-->
{% block login %} {% endblock %}
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Esta seguro que desea irse?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <mark>{{ user.username }}</mark>
                , debes dar clic en el boton Salir para cerrar sesion.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="{% url 'bases:logout' %}">Salir</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="popup">

</div>


<!-- Bootstrap core JavaScript-->
<script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'base/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'base/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'base/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'base/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

{#CARGA DE MENSAJES CONFIRM#}
<script src="{% static 'base/vendor/jquery_confirm/jquery-confirm.min.js' %}"></script>


{#CALENDAR JQUERY#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
        integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

<!-- BOOTSTRAP TABLE -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/locale/bootstrap-table-es-MX.min.js"></script>


{#SELECT2#}
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

{# texto #}
<script type="text/javascript" script-name="artifika" src="http://use.edgefonts.net/artifika.js"></script>


<script>
    $(document).ready(function () {
        jQuery.datetimepicker.setLocale('es');
    })
</script>
{#/*********************************#}

<script>
    // scroll en pantalla
    ScrollReveal().reveal('.scrolli');
    ScrollReveal().reveal('.scrolli', { delay: 250,duration: 1000,reset: false});
    ScrollReveal().reveal('.scrolli', { scale: 0.85 });



    /// Url actual
let url = window.location.href;
console.log(url);
/// Elementos de li
const tabs = [ "subcategorias","categorias", "marcas", "um", "productos", "compras","proveedor","clientes","facturas"];
tabs.forEach(e => {
    /// Agregar .php y ver si lo contiene en la url
    if (url.toString().includes(e)) {
        console.log('encontrado');
        /// Agregar tab- para hacer que coincida la Id
        setActive("tab-" + e);
        loop.stop = true;
    }

});

/// Funcion que asigna la clase active
function setActive(id) {
    document.getElementById(id).setAttribute("class", "collapse-item active");
}




</script>



{% block control_modal %}
    <script>
        function abrirModal(url) {
            $('#popup').load(url, function () {
                $(this).modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $(this).modal('show');
            });
            return false;
        }

        function cerrarModal() {
            $('#popup').modal('hide');
            return false;
        }

        //para manejo de color y tipo de mensaje a mostrar
        function mensaje(msg, color = 'green') {
            if (color == 'success') {
                color = 'green';
            }
            if (color == 'error') {
                color = 'red';
            }
            $.alert({
                title: '',
                theme: 'material',
                type: color,
                content: msg
            });
        }

        //para la muestra de mensajes en pantalla
        {% if messages %}
            {% for message in messages %}
                mensaje("{{ message }}");
            {% endfor %}
        {% endif %}

    </script>
{% endblock control_modal %}

{% block js_page %} {% endblock %}


</body>

</html>
